.home{
    height: 20vh;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
        
}
.carousel-display{
    width: 100vw;
    height: 70vh;
    background-image: url('../../assets/images/ntu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}