.home-title{
    position: relative;
    height: 7vh;
    background-color: rgba(68, 201, 113, 0.9);
    background-image: url('../../../assets/images/name.jpg');
    // text-align: center;
    .from{
        // background-color: rgba(68, 201, 113, 0.9);
        border-radius: '10%';
        position: relative;
        left: 3vw;
        font-size: 3vh;
        border: 2vw;
    }
    .post-title{
        background-image: -webkit-linear-gradient(left, #147B96, #9e9423 25%, #147B96 50%, #9e9423 75%, #147B96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
        text-align: center;
        position: absolute;
        width: auto;
        left: 28vw;
        font-size: 4vh;
        font-style: italic;
    }
}
@-webkit-keyframes masked-animation {
    0%{ background-position: 0 0;}
    100% { background-position: -100% 0;}
}