#basicLayout {
    padding: 0 40px 30px 30px;
    background-image: url('../assets/images/bg.jpg');
    height: 100vh;
    .layout-header {
      opacity: 0.8;
      display: flex;
      align-items: center;
      padding:0 30px 10px 24px;
      .left {
        flex: 1;
        display: flex;
        align-items: center;
        .header-menu-fold {
          opacity: 0.6;
          user-select: none;
          cursor: pointer;
          img {
            width: 18px;
          }
          :active {
            opacity: .8;
          }
          &.active {
            img {
              transform: rotate(180deg);
            }
          }
          .ant-menu.ant-menu-dark {
            .ant-menu-item-selected {
              background-color: green; /*Overriden property*/
            }
          }
        }
        .tab{
          margin-left: 20px;
          background: none;
        }
        .logo {
          user-select: none;
          // width: 200px;
          margin-left: 15px;
          // img {
          //   width: auto;
          // }
        }
      }
  
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        .headerName {
          cursor: pointer;
        }
        .loginout {
          width: 100%;
          text-align: right;
        }
      }
      .header-text {
        font-size: 16px;
        line-height: 1.5em;
        margin-left: 5px;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        color: beige;
        span{
          display: inline;
        }
        p {
          line-height: 1em;
          margin: 0;
          display: inline;
        }
        p:nth-child(1) {
          display: inline;
          margin-bottom: 5px;
        }
        .en-header{
          display: inline;
          font-size: 14px;
        }
      }
      .header-item{
        display: flex;
        margin-left: auto;
      }
    }
    .ant-layout-sider{
      border-radius: 4px;
      overflow: auto;
      position: relative;
    }
    .ant-layout-content {
      position: relative;
      background: unset !important;
    }
    .layout-content {
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      // bottom: 0;
    }
  }