#basicLayout {
    padding: 0 5px 5px 5px;
    background-image: url('../assets/images/bg.jpg');
    height: 100vh;
    .layout-header {
      opacity: 0.8;
      display: flex;
      align-items: center;
      padding:0 30px 10px 24px;

      .logo {
        user-select: none;
          // width: 100px;
          // margin-left: 15px;
        img {
          height: 10vh;
          background-size: contain;
          background-repeat: no-repeat;
                
        }
      }
      .header-text {
        font-size: 20px;
        line-height: 1.5em;
        margin-left: 10vw;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        color: beige;
        span{
          display: inline;    
        }
        .typing {
          line-height: 1em;
          margin: 0;
          display: inline;
          white-space: nowrap;
          border-right: 2px solid transparent;
          animation: typing 2.5s steps(15, end), blink-caret .75s step-end infinite;
          overflow: hidden;
        }
      }
      .welcome{
        font-size: 5vh;
        line-height: 1.5em;
        margin-left: 15vw;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        color: beige;
      }

      .loginout-item{
        display: flex;
        width: 10vw;
        height: 10vh;

      }

      .loginout-button{
        position: absolute;
        right: 5vw;
      }
    }
    .ant-layout-sider{
      border-radius: 4px;
      overflow: auto;
      position: relative;
      .ant-menu.ant-menu-dark {
        .ant-menu-item-selected {
          background-color: #001529; /*Overriden property*/
        }
      }
    }
    .ant-layout-content {
      position: relative;
      background: unset !important;
    }
    .layout-content {
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      // bottom: 0;
    }
}
@keyframes typing {
  from { width: 0; }
  to { width: 6em; }
}
/* 光标闪啊闪 */
@keyframes blink-caret {
  from, to { box-shadow: 1px 0 0 0 transparent; }
  50% { box-shadow: 1px 0 0 0; }
}